@charset "utf-8";
body {
	font-family: "comic sans ms","Helvetica Neue", Helvetica, Arial, "Microsoft Yahei UI", "Microsoft YaHei", SimHei, "\5B8B\4F53", simsun, sans-serif;
	color: #666;
}
#navbar-collapse ul {
	margin-top:0;
}
#information {
	/*background-color: #eee;*/
	padding: 40px 0;
}
.info-content {
	/*background-color: #fff;*/
	margin: 0 0 20px 0;
	/*box-shadow: 2px 2px 3px #ccc;*/
}
.info-content img {
	margin: 12px 0;
	/*width : 200%;*/
	/*height : 200%;*/
}
.info-content h4 {
	color: #333;
	padding: 2px 0 0 0;
	font-size: 14px;
}
.info-content p {
	line-height: 1.6;
}
#about {
	background-color: #F5F5F5;
	padding: 40px 15px;
}
#about .about {
	background-color: #fff;
	box-shadow: 2px 2px 3px #ccc;
}
#about h3 {
	color: #333;
	font-size: 18px;
	border-bottom: 1px solid #eee;
	padding: 20px 0;
	margin: 0 0 10px 0;
}
#about p {
	line-height: 2;
	font-size: 13px;
}

/*没有小于768px，是因为Bootstrap3以移动端优先设计*/
@media (max-width: 768px) {
	/*mine*/
	.hr{
		display:none;
	}
}
/* 小屏幕（平板，大于等于768px） */
@media (min-width: 768px) {

	.info-content h4 {
		font-size: 16px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
	#about h3 {
		font-size: 19px;
	}
	#about p {
		font-size: 14px;
	}

	/*mine*/
	.offset{
		left:10%;
	}

}

/* 中等屏幕（桌面显示器，大于等于992px） */
@media (min-width: 992px) {

	.info-content h4 {
		font-size: 18px;
	}
	#about h3 {
		font-size: 20px;
	}
	#about p {
		font-size: 15px;
	}	
	
	/*mine*/
	.location{
		position:fixed;
		top:120px;
		right:50px;
	}

	.offset{
		left:0;
	}	
	
}

/* 大屏幕（大桌面显示器，大于等于1200px） */
@media (min-width: 1200px) {

	.info-content h4 {
		font-size: 20px;
	}
	#about h3 {
		font-size: 22px;
	}
	#about p {
		font-size: 16px;
	}

}

/*mine*/
.navbar{
  margin-top:20px;
  background:white;
  border:0px;
}

.blog-footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}

/*.pager {*/
  /*margin-bottom: 60px;*/
  /*text-align: right;*/
/*}*/
/*.pager > li > a {*/
	/*border:0px;*/
  /*width: 70px;*/
  /*padding: 10px 20px;*/
  /*text-align: center;*/
  /*border-radius: 30px;*/
/*}*/

 /* 未访问的链接 */
/*a:link {color: #000;}*/
 /* 已访问的链接 */
/*a:visited {color: #F00;}*/
 /* 鼠标在链接上 */ 
/*a:hover{color: #0F0;}*/
/*点击激活链接——在你点击该链接之后，页面正在转向新地址的时候，链接显示此颜色；当你已经到了要链接的页面，然后再返回，原页面上的此链接仍是此颜色 */ 
/*a:active {color: #00F;}*/
a:link,a:visited,a:hover,a:active{
	text-decoration:none;
}

.breadcrumb{
	background-color:white;
}

.myInfo img{
	width:100px;
	height:100px;
}

.center{
	 margin-left:auto;
	 margin-right:auto;
	 float:none;
	 display:block;
}

/*col-md-3 大屏
col-sm-3 ipad
col-xs-5 mobile phone*/

.glyphicon-hand-left{
	margin-left:10px;
	color:black;
}

.list-inline{
	padding:10px 0;
}

.pagination li a{
  padding: 6px 14px;
  border:0;
}
